@model BeFit.Models.TrainingSession

@{
    Layout = null; 
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Usuń sesję</title>
</head>
<body>

    <h3>Czy na pewno chcesz usunąć tę sesję treningową?</h3>
    <div>
        <h4>Szczegóły</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StartTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StartTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EndTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EndTime)
            </dd>
            <!-- Usunięto User -->
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Usuń" class="btn btn-danger" /> |
            <a asp-action="Index">Powrót do listy</a>
        </form>
    </div>

</body>
</html>
